@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply basic global styles to the body: */
body {
  @apply bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100 font-sans antialiased;
}

.cursiveFont {
  font-family: 'Brush Script MT', cursive;
<<<<<<< HEAD
  font-size: 24px;
=======
  /* font-size: 24px; */
>>>>>>> 5a63fcd199a380decbf1aea58bb55c3de06002a9
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
<<<<<<< HEAD
  background-image: url('../public/GWB_Grey.png');
=======
  background-image: url('../public/Golf_With_Brian_Gray.png');
>>>>>>> 5a63fcd199a380decbf1aea58bb55c3de06002a9
  background-size: 750px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.08;
}
<<<<<<< HEAD
=======

/* Title Section */
.title-image {
  /* margin-top: 50px; */
  background-image: url('../public/CarouselImages/gwb_sponsored_golfer4.jpg');
  background-size: cover;
  background-color: '#2e4c6d';
  background-repeat: no-repeat;
  background-position: center 85%;
  height: 750px;
}

/* Media query for screens with a maximum width of 768px (adjust as needed) */
@media (max-width: 640px) {
  .title-image {
    background-position: -180px; /* Move it 10 pixels to the left on small screens */
  }
}

/* Confidential Information Font */
@font-face {
  font-family: 'ConfidentialInformation';
  src: url('/Fonts/ConfidentialInformation.ttf') format('truetype');
}

.confidentialInformation {
  font-family: 'ConfidentialInformation', sans-serif;
}
>>>>>>> 5a63fcd199a380decbf1aea58bb55c3de06002a9
